@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap"); // [Poppins] 300 400 600

html {
  font-size: 100%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: "Poppins";
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.flex {
  display: flex;

  &-jc-c {
    justify-content: center;
  }

  &-jc-sb {
    justify-content: space-between;
  }

  &-ai-c {
    align-items: center;
  }

  &-column {
    flex-direction: column;
  }
}

.container {
  height: 100vh;

  background-color: $darkGray;

  padding: 70px 40px;
}
